.novidades {
    background-color: var(--branco);
    padding: 1em 2em;
}

.novidades__titulo {
    background: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
}

.novidades__texto {
    background: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

    font-weight: 300;
    line-height: 24px;
    padding: 2em 0;
}

.novidades__email {
    padding: 1em 0;
    border: 1px solid var(--azul);
    border-radius: 24px;
    width: 100%;
}

.novidades__email::placeholder {
    font-family: var(--fonte-principal);
    color: var(--azul);
    background: url("../images/Email.svg") no-repeat;
    padding-left: 2em;
}